body {
    text-align: center;
}

div {
    display:inline-table;
    margin-bottom: 50px;
    width: 200px; 
    }
#gallow {
    display:flexbox;
}
#crossbar {
    position: absolute;
    background-color:saddlebrown;
    height: 20px;
    width: 200px;
    margin-top: 5px;
    margin-left: 10px;
}
#post{
    position: relative;
    background-color:saddlebrown;
    height: 300px;
    width: 20px;
    margin: 5px;
}
#noose{
    position: absolute;
    margin-top: 25px;
    margin-left: 170px;
    height: 37px;
    width:5px;
    background-color: rgb(160, 145, 15);
}

#head {
    position: absolute;
    background-color: tan;
    margin-top: 60px;
    margin-left: 162px;
    height: 30px;
    width: 20px;
    border-radius: 20px 20px 30px 30px;
    transform: rotate(20deg);
}
#body {
   position:absolute;
   background-color: rgb(85, 76, 76);
   margin-top: 90px;
   margin-left: 158px;
   height: 60px;
   width: 30px;
   border-radius: 10px 10px 5px 5px;
}
.box {
    text-align: center;
    border: 1px solid blue;
    color: white;
    border-radius: 50px, 100%;
    background: rgb(153, 101, 23); 
    width: 20px;
    height: 20px;
    margin:3px;
}

.square {
    margin-top: 100px;
    width: 40px;
    height: 30px;
    border-bottom: 3px solid black;
    text-align: center;
    display: inline-block;
    font-family: fantasy;
    font-size: 20pt;
    background: rgb(255, 255, 255);
    color: rgb(165, 34, 34);
    margin: 2px;
}
#reset {
    margin-right: 0px;
}