div {
    align-content: center; 
    display:grid;
    grid-row: 5;
    width: 120px; 
   
    }

.box {
    align-content: center;
    text-align: center;
    align-content: center;
    border: blue;
    border-width: 1pt;
    background: aqua; 
    width: 20px;
    height: 20px;
    margin:3px;
}

